@use "variables.scss";
.main_principal_wrapper-cta_salto, .main_principal_wrapper-cta_curso, .main_principal .salto_wrapper_paragraph_cta, .main_principal .curso_wrapper_cta, .contact_main_principal_content_escribinos .buton, .Saltos_main_principal_wrapper_cta, .cursos_card_wrapper_cta {
  padding: 0.3125rem;
  border-radius: 2.8125rem; }
  @media (min-width: 767px) {
    .main_principal_wrapper-cta_salto, .main_principal_wrapper-cta_curso, .main_principal .salto_wrapper_paragraph_cta, .main_principal .curso_wrapper_cta, .contact_main_principal_content_escribinos .buton, .Saltos_main_principal_wrapper_cta, .cursos_card_wrapper_cta {
      padding: 0.625rem;
      background-color: #ff2b43;
      border: 2.8125rem;
      transition: 0.5s ease-in-out; }
      .main_principal_wrapper-cta_salto:hover, .main_principal_wrapper-cta_curso:hover, .main_principal .salto_wrapper_paragraph_cta:hover, .main_principal .curso_wrapper_cta:hover, .contact_main_principal_content_escribinos .buton:hover, .Saltos_main_principal_wrapper_cta:hover, .cursos_card_wrapper_cta:hover {
        background-color: white; } }
  .main_principal_wrapper-cta_salto a, .main_principal_wrapper-cta_curso a, .main_principal .salto_wrapper_paragraph_cta a, .main_principal .curso_wrapper_cta a, .contact_main_principal_content_escribinos .buton a, .Saltos_main_principal_wrapper_cta a, .cursos_card_wrapper_cta a {
    padding: 0.3125rem;
    border-radius: 1.875rem;
    color: white;
    background-color: #ff2b43; }
    @media (min-width: 767px) {
      .main_principal_wrapper-cta_salto a, .main_principal_wrapper-cta_curso a, .main_principal .salto_wrapper_paragraph_cta a, .main_principal .curso_wrapper_cta a, .contact_main_principal_content_escribinos .buton a, .Saltos_main_principal_wrapper_cta a, .cursos_card_wrapper_cta a {
        font-size: 1.125rem;
        background-color: rgba(255, 255, 255, 0);
        font-weight: 500;
        color: white; }
        .main_principal_wrapper-cta_salto a:hover, .main_principal_wrapper-cta_curso a:hover, .main_principal .salto_wrapper_paragraph_cta a:hover, .main_principal .curso_wrapper_cta a:hover, .contact_main_principal_content_escribinos .buton a:hover, .Saltos_main_principal_wrapper_cta a:hover, .cursos_card_wrapper_cta a:hover {
          color: #ff2b43; } }

html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important; }

* {
  padding: 0;
  margin: 0; }

ul li {
  list-style-type: none; }

a {
  text-decoration: none; }

ul li {
  list-style-type: none; }

a {
  text-decoration: none; }

.main_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: none;
  align-content: none;
  align-items: center;
  width: 100vw;
  background-color: aliceblue;
  display: flex;
  width: 100vw; }
  .main_header_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: none;
    align-content: none;
    align-items: none;
    justify-content: center;
    padding: 15px; }
    .main_header_nav li {
      padding-left: 20px; }
      .main_header_nav li a {
        color: black;
        font-size: 1em;
        font-weight: 500; }
        .main_header_nav li a :active {
          color: rgba(128, 128, 128, 0.851); }

@media (min-width: 992px) {
  .main_header {
    display: grid;
    width: 100vw;
    height: 55px;
    position: fixed;
    grid-template-columns: 200px auto;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    z-index: 4; }
    .main_header_nav {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      justify-content: end;
      gap: 0 20px;
      text-align: center;
      z-index: 4; }
      .main_header_nav a {
        color: black; }
        .main_header_nav a:hover {
          background-color: black;
          border-radius: 15px;
          color: white;
          padding: 5px 5px; }
        .main_header_nav a:active {
          color: red; } }

.footer {
  background-image: url("../Imagenes/logo_fondo.gif");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: center;
  align-content: none;
  align-items: center;
  flex-direction: column;
  padding-top: 1.25rem; }
  @media (min-width: 992px) {
    .footer {
      background-image: none;
      display: grid;
      grid-template-areas: ". marca ." "datos marca redes" ". marca ."; } }
  .footer_contact p:nth-child(1) {
    font-weight: bold; }
  @media (min-width: 992px) {
    .footer_contact {
      grid-area: datos; } }
  .footer_marca {
    display: none; }
    @media (min-width: 992px) {
      .footer_marca {
        display: inline;
        grid-area: marca; } }
  .footer_redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    align-content: none;
    align-items: center;
    padding: 0.3125rem 0.3125rem; }
    @media (min-width: 992px) {
      .footer_redes {
        grid-area: redes; }
        .footer_redes_face {
          margin-left: 10px; }
        .footer_redes_youtube {
          margin-left: 10px; }
        .footer_redes_face {
          margin-left: 10px; } }

.main_principal_parallax {
  background-image: linear-gradient(#00000093, #00000038), url("../Imagenes/fondo_mobile.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: none;
  align-content: space-around;
  align-items: none;
  height: 100vh; }
  @media (min-width: 767px) {
    .main_principal_parallax {
      background-image: linear-gradient(#00000093, #00000038), url("../Imagenes/backgraund_index_tablet.gif");
      background-attachment: fixed;
      flex-direction: column;
      justify-items: flex-start;
      align-content: flex-start; } }
  @media (min-width: 992px) {
    .main_principal_parallax {
      background-image: linear-gradient(#00000093, #00000038), url("../Imagenes/imagenContPrinc.png"); } }

.main_principal_textbackground {
  color: rgba(0, 0, 0, 0.238);
  font-size: 9.375rem;
  word-break: break-all;
  position: absolute;
  bottom: -10.625rem;
  font-weight: bolder;
  z-index: 5; }
  @media (min-width: 767px) {
    .main_principal_textbackground {
      font-size: 9.375rem;
      margin-bottom: 8.4375rem; } }
  @media (min-width: 992px) {
    .main_principal_textbackground {
      font-size: 14.375rem;
      margin-bottom: 2.5625rem; } }

.main_principal_wrapper {
  padding-left: 3%;
  padding-bottom: 19.9375rem; }
  @media (min-width: 767px) {
    .main_principal_wrapper {
      padding-bottom: 0; } }
  .main_principal_wrapper h1 {
    color: #ffffff;
    font-size: 0.8em; }
    @media (min-width: 767px) {
      .main_principal_wrapper h1 {
        font-size: 1.875rem; } }
  .main_principal_wrapper_paragrap {
    font-weight: bold;
    color: #ffffff;
    font-size: 2.3em;
    width: 80%; }
    @media (min-width: 992px) {
      .main_principal_wrapper_paragrap {
        font-size: 5rem; } }
  .main_principal_wrapper-cta {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.3125rem; }
    @media (min-width: 992px) {
      .main_principal_wrapper-cta {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        justify-items: none;
        align-content: none;
        align-items: none; } }
    .main_principal_wrapper-cta_salto {
      font-size: 0.625rem;
      font-weight: 500; }
    .main_principal_wrapper-cta_curso {
      font-size: 0.625rem;
      font-weight: 500; }

.main_principal .nosotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: none;
  align-content: center;
  align-items: none; }
  @media (min-width: 992px) {
    .main_principal .nosotros {
      flex-direction: column;
      justify-content: space-around;
      margin-bottom: 25px; } }
  .main_principal .nosotros_title {
    font-size: 3.125rem;
    color: #15106f7f;
    text-align: center;
    padding-top: 0.9375rem; }
    @media (min-width: 992px) {
      .main_principal .nosotros_title {
        font-size: 70px; } }
  .main_principal .nosotros_wrapper_escuela {
    display: flex;
    flex-wrap: wrap;
    justify-content: none;
    justify-items: none;
    align-content: none;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px 15px 20px; }
    @media (min-width: 992px) {
      .main_principal .nosotros_wrapper_escuela {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr;
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        gap: 20px;
        margin: 10px 10px 10px 40px; } }
  .main_principal .nosotros_subtitle_escuela {
    font-size: 2.1875rem;
    font-weight: 300;
    color: #15106f7f;
    padding-left: 1.28125rem; }
    @media (min-width: 992px) {
      .main_principal .nosotros_subtitle_escuela {
        font-size: 40px; } }
  .main_principal .nosotros_paragraph_escuela {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: justify;
    padding: 15px 18px 20px; }
    @media (min-width: 992px) {
      .main_principal .nosotros_paragraph_escuela {
        width: 100%; } }
  .main_principal .nosotros .img_escuela {
    width: 100%; }
    @media (min-width: 992px) {
      .main_principal .nosotros .img_escuela {
        height: 100%;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3; } }
  .main_principal .nosotros_wrapper_instalaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: none;
    justify-items: none;
    align-content: none;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px 15px 20px; }
    @media (min-width: 992px) {
      .main_principal .nosotros_wrapper_instalaciones {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr;
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        gap: 20px;
        margin: 10px 10px 10px 40px; } }
  .main_principal .nosotros_subtitle_instalaciones {
    font-size: 2.1875rem;
    font-weight: 300;
    color: #15106f7f;
    padding-left: 1.28125rem; }
    @media (min-width: 992px) {
      .main_principal .nosotros_subtitle_instalaciones {
        font-size: 40px; } }
  .main_principal .nosotros_paragraph_instalaciones {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: justify;
    padding: 0.9375rem 1.125rem 1.25rem; }
    @media (min-width: 992px) {
      .main_principal .nosotros_paragraph_instalaciones {
        width: 80%; } }
  .main_principal .nosotros .img_instalaciones {
    width: 100%; }
    @media (min-width: 992px) {
      .main_principal .nosotros .img_instalaciones {
        height: 100%;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3; } }

@media (min-width: 992px) {
  .main_principal .salto {
    display: grid;
    grid-template-areas: "encabezado encabezado encabezado" ". cont ." "buttom . .";
    gap: 15px; } }

.main_principal .salto_parallax {
  background-image: linear-gradient(#00000093, #00000038), url("../Imagenes/saltosparallax.jpg");
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-items: none;
  align-content: flex-end;
  align-items: none;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }
  @media (min-width: 992px) {
    .main_principal .salto_parallax {
      height: 400px;
      background-attachment: fixed;
      display: grid;
      grid-template-columns: 3% 50% 50%;
      grid-template-rows: 3% 50% 50%;
      align-items: center;
      grid-area: encabezado; } }
  .main_principal .salto_parallax_title {
    font-size: 3.125rem;
    color: rgba(255, 255, 255, 0.586);
    text-align: center;
    padding-top: 0.9375rem; }
    @media (min-width: 767px) {
      .main_principal .salto_parallax_title {
        font-size: 6.25rem; } }
    @media (min-width: 992px) {
      .main_principal .salto_parallax_title {
        font-size: 6rem;
        color: rgba(255, 255, 255, 0.586);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4; } }

.main_principal .salto_wrapper_paragraph {
  padding: 0.9375rem 1.5625rem 2.5rem;
  font-size: 0.9375rem;
  text-align: justify; }
  @media (min-width: 992px) {
    .main_principal .salto_wrapper_paragraph {
      background-color: rgba(100, 148, 237, 0.285);
      border-radius: 45px;
      font-weight: 100;
      font-size: 1rem;
      padding: 47px 60px;
      grid-area: cont; } }
  .main_principal .salto_wrapper_paragraph p:nth-child(1) {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 0.9375rem;
    font-weight: 500;
    border-bottom: 1Rem;
    border-bottom-color: red; }
  .main_principal .salto_wrapper_paragraph p:nth-child(2) {
    text-align: center;
    padding-bottom: 0.9375rem;
    font-weight: 400;
    border-bottom: 1Rem;
    border-bottom-color: red; }
  .main_principal .salto_wrapper_paragraph_cta {
    display: flex;
    flex-wrap: wrap;
    justify-content: none;
    justify-items: none;
    align-content: none;
    align-items: flex-start; }
    @media (min-width: 767px) {
      .main_principal .salto_wrapper_paragraph_cta {
        margin-top: 1.875rem;
        text-decoration: none;
        grid-area: buttom;
        display: inline-block; } }

.main_principal .curso {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: none;
  align-items: none;
  flex-direction: column; }
  @media (min-width: 992px) {
    .main_principal .curso {
      display: grid;
      grid-template-areas: "presentacion presentacion presentacion" ". articulo ." "boton . .";
      gap: 15px; } }
  .main_principal .curso_parallax {
    background-image: url("../Imagenes/saltosseccion.jpeg");
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: none;
    align-content: flex-end;
    align-items: none;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; }
    @media (min-width: 992px) {
      .main_principal .curso_parallax {
        height: 400px;
        background-attachment: fixed;
        display: grid;
        grid-template-columns: 3% 50% 50%;
        grid-template-rows: 3% 50% 50%;
        align-items: center;
        grid-area: presentacion; } }
    .main_principal .curso_parallax_title {
      font-size: 3.125rem;
      color: rgba(255, 255, 255, 0.586);
      text-align: center;
      padding-top: 0.9375rem; }
      @media (min-width: 767px) {
        .main_principal .curso_parallax_title {
          font-size: 6.25rem; } }
      @media (min-width: 992px) {
        .main_principal .curso_parallax_title {
          font-size: 6em;
          color: rgba(255, 255, 255, 0.586);
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 4; } }
  .main_principal .curso_wrapper {
    padding: 0.9375rem 1.5625rem 1.25rem;
    font-size: 0.9375rem;
    text-align: justify; }
    @media (min-width: 992px) {
      .main_principal .curso_wrapper {
        background-color: rgba(100, 148, 237, 0.285);
        border-radius: 45px;
        font-weight: 100;
        font-size: 1rem;
        padding: 47px 60px;
        grid-area: articulo; } }
    .main_principal .curso_wrapper_cta {
      display: flex;
      flex-wrap: wrap;
      justify-content: none;
      justify-items: none;
      align-content: none;
      align-items: flex-start;
      flex-direction: row; }
      @media (min-width: 767px) {
        .main_principal .curso_wrapper_cta {
          text-decoration: none;
          grid-area: boton;
          display: inline-block;
          margin-top: 1.875rem; } }

.main_principal .videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  align-content: none;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 767px) {
    .main_principal .videos {
      background-image: url("../Imagenes/fondo.png");
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; } }
  @media (min-width: 992px) {
    .main_principal .videos {
      justify-content: space-around;
      gap: 20px; } }
  .main_principal .videos h2 {
    font-size: 3.125rem;
    text-align: center;
    padding-bottom: 3.6875rem;
    padding-right: 0.625rem; }
    @media (min-width: 992px) {
      .main_principal .videos h2 {
        color: #000;
        font-size: 4.375rem; } }
  .main_principal .videos_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: none;
    align-content: none;
    align-items: center;
    flex-direction: column;
    padding: 0.625rem 0.9375rem; }
    @media (min-width: 767px) {
      .main_principal .videos_wrapper {
        flex-direction: row;
        padding: 0 10% 0 10%; } }
    .main_principal .videos_wrapper iframe {
      padding: 0.625rem 0; }

.promociones_main_principal {
  background-image: url("../Imagenes/promociones_background_mobile.png");
  background-attachment: fixed;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: flex-end;
  align-items: center;
  height: 100vh; }
  @media (min-width: 992px) {
    .promociones_main_principal {
      background-image: url("../Imagenes/promocionesfondo.png");
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr); } }
  .promociones_main_principal_title {
    color: #ffffff;
    font-size: 3em;
    font-weight: bold;
    padding-left: 15px;
    position: relative;
    margin-top: 70px; }
    @media (min-width: 992px) {
      .promociones_main_principal_title {
        color: #000;
        font-size: 7em;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2; } }
  .promociones_main_principal_paragraph {
    color: #ffffff;
    font-size: 1.5em;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 15px; }
    @media (min-width: 992px) {
      .promociones_main_principal_paragraph {
        color: #000;
        font-size: 4em;
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3; } }
  .promociones_main_principal_imagen {
    display: none; }
    @media (min-width: 992px) {
      .promociones_main_principal_imagen {
        display: block;
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 4;
        z-index: 0; }
        .promociones_main_principal_imagen .ilustracion_promociones {
          width: 900px; } }

.contact_main_principal_parallax {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../Imagenes/fotoSchool.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }
  @media (min-width: 992px) {
    .contact_main_principal_parallax {
      background-attachment: fixed;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      gap: 0.9375rem; } }
  .contact_main_principal_parallax_text_background {
    color: rgba(0, 0, 0, 0.238);
    font-size: 10.625rem;
    word-break: break-all;
    position: absolute;
    font-weight: bolder;
    z-index: 5; }
    @media (min-width: 992px) {
      .contact_main_principal_parallax_text_background {
        font-size: 14.375rem; } }
  .contact_main_principal_parallax_title {
    color: #ffffff;
    font-size: 3em;
    font-weight: bold;
    padding-left: 15px;
    position: absolute;
    margin-top: 70px; }
    @media (min-width: 992px) {
      .contact_main_principal_parallax_title {
        color: #000;
        font-size: 7em;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 4;
        grid-column-end: 6; } }

.contact_main_principal_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: stretch;
  align-items: center;
  flex-direction: column;
  background-image: url("../Imagenes/fondo_curso_mobile.gif");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 992px) {
    .contact_main_principal_content {
      display: grid;
      grid-template-areas: "formulario mapa" "horarios .";
      background-image: url("../Imagenes/fondo.png"); } }
  .contact_main_principal_content_escribinos {
    background-color: #00000079;
    border-radius: 1.25rem;
    padding: 1.875rem;
    margin: 1.25rem; }
    @media (min-width: 992px) {
      .contact_main_principal_content_escribinos {
        border-radius: 1.25rem;
        padding: 1.875rem;
        margin: 1.25rem;
        grid-area: formulario; } }
    .contact_main_principal_content_escribinos_title {
      color: #ffffff;
      font-size: 1.75rem;
      font-weight: 500;
      text-align: center;
      padding-top: 1.25rem; }
      @media (min-width: 992px) {
        .contact_main_principal_content_escribinos_title {
          color: #000;
          font-size: 4.375rem;
          font-weight: bold;
          padding-top: 1.875rem;
          padding-left: 1.5625rem; } }
    .contact_main_principal_content_escribinos label {
      color: #ffffff; }
    .contact_main_principal_content_escribinos .buton {
      color: #000; }
      @media (min-width: 992px) {
        .contact_main_principal_content_escribinos .buton {
          color: #ffffff;
          background-color: #ff2b43; }
          .contact_main_principal_content_escribinos .buton:hover {
            color: #ff2b43;
            background-color: #ffffff; } }
  .contact_main_principal_content_ubicacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: #00000079;
    border-radius: 1.25rem;
    padding: 1.875rem 1.25rem;
    margin: 1.25rem 0.3125rem; }
    @media (min-width: 992px) {
      .contact_main_principal_content_ubicacion {
        border-radius: 1.25rem;
        padding: 1.875rem;
        margin: 1.25rem;
        grid-area: mapa; } }
    .contact_main_principal_content_ubicacion_title {
      color: #ffffff;
      font-size: 1.75rem;
      font-weight: 500;
      text-align: center;
      padding-top: 1.25rem; }
      @media (min-width: 992px) {
        .contact_main_principal_content_ubicacion_title {
          color: #000;
          font-size: 4.375rem;
          font-weight: bold;
          padding-top: 1.875rem;
          padding-left: 1.5625rem; } }
    .contact_main_principal_content_ubicacion_maps_direccion_google {
      display: none; }
      @media (min-width: 992px) {
        .contact_main_principal_content_ubicacion_maps_direccion_google {
          display: block; } }
    .contact_main_principal_content_ubicacion_maps_direccion_google_mobile {
      display: block; }
      @media (min-width: 992px) {
        .contact_main_principal_content_ubicacion_maps_direccion_google_mobile {
          display: none; } }
    .contact_main_principal_content_ubicacion_horarios_atencion {
      background-color: rgba(255, 255, 255, 0.397);
      border-bottom: 1.5625rem; }
      @media (min-width: 992px) {
        .contact_main_principal_content_ubicacion_horarios_atencion {
          background-color: rgba(255, 255, 255, 0.397);
          border-bottom: 1.5625rem;
          padding: 1.5625rem;
          grid-area: horarios; } }

.Saltos_main_principal_parallax {
  background-image: url("../Imagenes/saltosparallax.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  justify-items: none;
  align-content: space-around;
  align-items: none;
  flex-direction: column;
  height: 100vh; }
  @media (min-width: 992px) {
    .Saltos_main_principal_parallax {
      background-image: linear-gradient(#00000000, rgba(0, 0, 0, 0.274)), url("../Imagenes/saltosparallax.jpg");
      background-attachment: fixed;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr); } }
  .Saltos_main_principal_parallax_title {
    color: #ffffff;
    font-size: 3em;
    font-weight: bold;
    padding-left: 15px;
    position: relative;
    margin-top: 70px; }
    @media (min-width: 992px) {
      .Saltos_main_principal_parallax_title {
        color: #000;
        font-size: 7em;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2; } }
  .Saltos_main_principal_parallax_subtitle {
    font-size: 3em;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 15px; }
    @media (min-width: 992px) {
      .Saltos_main_principal_parallax_subtitle {
        color: #000;
        font-size: 4em;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 4; } }

.Saltos_main_principal_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: space-around;
  align-items: center;
  flex-direction: column;
  background-image: url("../Imagenes/promocionesfondo.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1.25rem; }
  @media (min-width: 992px) {
    .Saltos_main_principal_wrapper {
      background-image: url("../Imagenes/fondo.png");
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: grid;
      align-items: space-around;
      justify-content: center;
      justify-items: center;
      align-content: center; } }
  .Saltos_main_principal_wrapper_cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: none;
    align-content: none;
    align-items: center;
    flex-direction: column;
    width: 100%; }
    .Saltos_main_principal_wrapper_cont_paragraph {
      color: #ffffff;
      font-size: 1.75rem;
      font-weight: 500;
      text-align: center;
      padding-top: 1.25rem; }
      @media (min-width: 992px) {
        .Saltos_main_principal_wrapper_cont_paragraph {
          color: #000;
          font-size: 4.375rem;
          font-weight: bold;
          padding-top: 1.875rem;
          padding-left: 1.5625rem; } }
    .Saltos_main_principal_wrapper_cont_paragraph_dos {
      color: #ffffff;
      font-size: 1.5625rem;
      font-weight: 500;
      text-align: center;
      padding-top: 0.625rem; }
      @media (min-width: 992px) {
        .Saltos_main_principal_wrapper_cont_paragraph_dos {
          color: #000;
          font-size: 1.875rem;
          font-weight: 300;
          padding-top: 1.25rem; } }
  .Saltos_main_principal_wrapper_imagenes {
    display: none; }
    @media (min-width: 992px) {
      .Saltos_main_principal_wrapper_imagenes {
        display: block; } }
    .Saltos_main_principal_wrapper_imagenes_dos {
      display: none; }
      @media (min-width: 992px) {
        .Saltos_main_principal_wrapper_imagenes_dos {
          display: block;
          overflow: hidden;
          padding-left: 18.75rem; } }
      .Saltos_main_principal_wrapper_imagenes_dos_mobile {
        display: block; }
        @media (min-width: 992px) {
          .Saltos_main_principal_wrapper_imagenes_dos_mobile {
            display: none; } }
  .Saltos_main_principal_wrapper_descripcion {
    background-color: #0000004a;
    border-radius: 0.3125rem;
    margin: 0.3125rem;
    padding-bottom: 0.9375rem; }
    @media (min-width: 992px) {
      .Saltos_main_principal_wrapper_descripcion {
        background-color: rgba(255, 255, 255, 0.397);
        border-radius: 5rem;
        grid-area: "texto";
        font-size: 1.25rem;
        font-weight: 500;
        width: 70%;
        padding-top: 4.375rem;
        padding-left: 3.125rem;
        padding-right: 3.125rem; } }
    .Saltos_main_principal_wrapper_descripcion p {
      color: #ffffff;
      margin-left: 0.625rem;
      margin-top: 0.625rem; }
      @media (min-width: 992px) {
        .Saltos_main_principal_wrapper_descripcion p {
          color: #000;
          margin-top: 0.3125rem; } }
  .Saltos_main_principal_wrapper_cta {
    padding: 0.3125rem; }
    @media (min-width: 992px) {
      .Saltos_main_principal_wrapper_cta {
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 0.625rem; } }

.Saltos_main_principal_videos {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  align-content: none;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 992px) {
    .Saltos_main_principal_videos {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      justify-items: center;
      align-content: center;
      align-items: center;
      flex-direction: row; } }
  .Saltos_main_principal_videos iframe {
    padding-top: 0.625rem; }

.Saltos_main_principal_recomendaciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../Imagenes/fondo_recomendaciones.gif");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 992px) {
    .Saltos_main_principal_recomendaciones {
      padding-top: 1.5625rem;
      padding-bottom: 2.1875rem;
      display: grid;
      grid-template-areas: "title title title" "fisicas imagen indumentaria"; } }
  .Saltos_main_principal_recomendaciones_title {
    font-size: 3.125rem;
    text-align: center; }
    @media (min-width: 992px) {
      .Saltos_main_principal_recomendaciones_title {
        grid-area: title;
        font-size: 3.125rem;
        font-weight: bold;
        text-align: center;
        padding-bottom: 1.25rem; } }
  .Saltos_main_principal_recomendaciones_fisicas {
    background-color: rgba(255, 255, 255, 0.397);
    padding: 1.25rem; }
    @media (min-width: 992px) {
      .Saltos_main_principal_recomendaciones_fisicas {
        grid-area: fisicas;
        background-color: rgba(255, 255, 255, 0.397);
        border-radius: 1.5625rem;
        margin-left: 2.5rem;
        padding-bottom: 1.25rem; } }
    @media (min-width: 992) {
      .Saltos_main_principal_recomendaciones_fisicas_title {
        padding-left: 1.875rem;
        padding-top: 1.25rem; } }
    @media (min-width: 992) {
      .Saltos_main_principal_recomendaciones_fisicas p {
        padding-left: 1.875rem; } }
  .Saltos_main_principal_recomendaciones_indumentaria {
    background-color: rgba(255, 255, 255, 0.397);
    padding: 1.25rem; }
    @media (min-width: 992px) {
      .Saltos_main_principal_recomendaciones_indumentaria {
        grid-area: indumentaria;
        border-radius: 1.5625rem;
        margin-right: 2.5rem;
        padding-bottom: 1.25rem; } }
    @media (min-width: 992px) {
      .Saltos_main_principal_recomendaciones_indumentaria_title {
        padding-left: 1.875rem;
        padding-top: 1.25rem; } }
    @media (min-width: 992px) {
      .Saltos_main_principal_recomendaciones_indumentaria p {
        padding-left: 1.875rem; } }
  @media (min-width: 992px) {
    .Saltos_main_principal_recomendaciones_img_rec {
      grid-area: imagen; } }

.cursos_main_principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../Imagenes/curso_uno.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }
  @media (min-width: 992px) {
    .cursos_main_principal {
      background-image: url("../Imagenes/fondo_curso_present.gif"), linear-gradient(#000000b7, #00000038);
      background-attachment: fixed;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      gap: 0.9375rem; } }
  .cursos_main_principal_imagen {
    display: none; }
    @media (min-width: 992px) {
      .cursos_main_principal_imagen {
        display: flex;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 4;
        z-index: 3; } }
  .cursos_main_principal_title {
    font-size: 3.75rem;
    margin-top: 1.875rem; }
    @media (min-width: 992px) {
      .cursos_main_principal_title {
        font-size: 15.625rem;
        font-weight: bold;
        color: rgba(5, 5, 5, 0.666);
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        z-index: 2; } }
  .cursos_main_principal_paragraph {
    background-color: rgba(255, 255, 255, 0.397);
    font-size: 1.25rem;
    font-weight: 300;
    padding: 0.9375rem; }
    @media (min-width: 992px) {
      .cursos_main_principal_paragraph {
        width: 70%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.279);
        font-size: 20px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6;
        padding: 1.875rem;
        margin-bottom: 6.25rem; } }

.cursos_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../Imagenes/fondo_curso_mobile.gif");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 992px) {
    .cursos_card {
      background-image: url("../Imagenes/fondo.png");
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: grid;
      grid-template-areas: "card card imagen" "etapas etapas etapas" "niveles niveles niveles"; } }
  .cursos_card_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.397);
    margin-top: 1.5625rem;
    width: 90%;
    border-radius: 0.9375rem; }
    @media (min-width: 992px) {
      .cursos_card_wrapper {
        grid-area: card;
        background-color: rgba(0, 0, 0, 0.397); } }
    .cursos_card_wrapper_title {
      margin-top: 0.9375rem;
      font-size: 1.875rem;
      text-align: center;
      background-color: rgba(255, 43, 68, 0.534); }
      @media (min-width: 992px) {
        .cursos_card_wrapper_title {
          font-size: 3.75rem;
          padding: 1.875rem; } }
    .cursos_card_wrapper_subtitle {
      font-size: 1.25rem;
      padding-top: 0.625rem;
      padding-bottom: 0.625rem; }
      @media (min-width: 992px) {
        .cursos_card_wrapper_subtitle {
          font-size: 2.8125rem; } }
    .cursos_card_wrapper_paragraph_costo {
      font-size: 0.9375rem;
      padding-top: 0.1875rem;
      padding-bottom: 0.1875rem; }
      @media (min-width: 992px) {
        .cursos_card_wrapper_paragraph_costo {
          font-size: 1.875rem; } }
    .cursos_card_wrapper_paragraph_ticket {
      font-size: 0.9375rem;
      padding-top: 0.1875rem;
      padding-bottom: 0.1875rem; }
      @media (min-width: 992px) {
        .cursos_card_wrapper_paragraph_ticket {
          font-size: 1.875rem; } }
    .cursos_card_wrapper_paragraph_equipo {
      font-size: 0.9375rem;
      padding-top: 0.1875rem;
      padding-bottom: 0.1875rem; }
      @media (min-width: 992px) {
        .cursos_card_wrapper_paragraph_equipo {
          font-size: 1.875rem; } }
    .cursos_card_wrapper_paragraph_instruccion {
      font-size: 0.9375rem;
      padding-top: 0.1875rem;
      padding-bottom: 0.1875rem; }
      @media (min-width: 992px) {
        .cursos_card_wrapper_paragraph_instruccion {
          font-size: 1.875rem; } }
    .cursos_card_wrapper_paragraph_material {
      font-size: 0.9375rem;
      padding-top: 0.1875rem;
      padding-bottom: 0.1875rem; }
      @media (min-width: 992px) {
        .cursos_card_wrapper_paragraph_material {
          font-size: 1.875rem; } }
    .cursos_card_wrapper_cta {
      margin-top: 0.625rem;
      margin-bottom: 0.625rem;
      padding: 0.3125rem; }
      @media (min-width: 992px) {
        .cursos_card_wrapper_cta {
          padding: 0.625rem;
          margin-bottom: 1.5625rem; } }
  .cursos_card_imagen_uno {
    display: block; }
    @media (min-width: 992px) {
      .cursos_card_imagen_uno {
        display: none; } }
  .cursos_card_imagen_uno_deskop {
    display: none; }
    @media (min-width: 992px) {
      .cursos_card_imagen_uno_deskop {
        display: block;
        grid-area: imagen; } }
  .cursos_card_etapas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-direction: column; }
    @media (min-width: 992px) {
      .cursos_card_etapas {
        grid-area: etapas;
        display: grid;
        grid-template-areas: "imagen_one uno" "dos imagen_dos" "imagen_tres tres";
        gap: 3.75rem; } }
    .cursos_card_etapas_uno {
      background-color: rgba(255, 255, 255, 0.397);
      width: 90%;
      border-radius: 0.9375rem;
      padding-bottom: 0.9375rem; }
      @media (min-width: 992px) {
        .cursos_card_etapas_uno {
          width: 100%;
          grid-area: uno;
          margin-right: 3.75rem; } }
      .cursos_card_etapas_uno_title {
        margin-top: 0.9375rem;
        font-size: 1.875rem;
        text-align: center;
        background-color: rgba(255, 43, 68, 0.534); }
      .cursos_card_etapas_uno_paragraph {
        font-size: 0.9375rem;
        margin: 0.9375rem; }
      .cursos_card_etapas_uno_img {
        display: none; }
    .cursos_card_etapas_img {
      display: none; }
      @media (min-width: 992px) {
        .cursos_card_etapas_img {
          grid-area: imagen_one;
          display: block; } }
    .cursos_card_etapas_dos {
      background-color: rgba(255, 255, 255, 0.397);
      margin-top: 1.5625rem;
      width: 90%;
      border-radius: 0.9375rem;
      padding-bottom: 0.9375rem; }
      @media (min-width: 992px) {
        .cursos_card_etapas_dos {
          grid-area: dos; } }
      .cursos_card_etapas_dos_title {
        margin-top: 0.9375rem;
        font-size: 1.875rem;
        text-align: center;
        background-color: rgba(255, 43, 68, 0.534); }
      .cursos_card_etapas_dos_paragraph {
        font-size: 0.9375rem;
        margin: 0.9375rem; }
    .cursos_card_etapas_img_dos {
      display: none; }
      @media (min-width: 992px) {
        .cursos_card_etapas_img_dos {
          grid-area: imagen_dos;
          display: block; } }
    .cursos_card_etapas_tres {
      background-color: rgba(255, 255, 255, 0.397);
      margin-top: 1.5625rem;
      width: 90%;
      border-radius: 0.9375rem;
      padding-bottom: 0.9375rem; }
      @media (min-width: 992px) {
        .cursos_card_etapas_tres {
          grid-area: tres; } }
      .cursos_card_etapas_tres_title {
        margin-top: 0.9375rem;
        font-size: 1.875rem;
        text-align: center;
        background-color: rgba(255, 43, 68, 0.534); }
      .cursos_card_etapas_tres_paragraph {
        font-size: 0.9375rem;
        margin: 0.9375rem; }
    .cursos_card_etapas_img_tres {
      display: none; }
      @media (min-width: 992px) {
        .cursos_card_etapas_img_tres {
          grid-area: imagen_tres;
          display: block; } }
  .cursos_card_niveles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-direction: column; }
    @media (min-width: 992px) {
      .cursos_card_niveles {
        grid-area: niveles;
        display: grid;
        grid-template-areas: "tres cinco ocho"; } }
    .cursos_card_niveles_tres {
      background-color: rgba(255, 255, 255, 0.397);
      margin-top: 1.5625rem;
      width: 90%;
      border-radius: 0.9375rem;
      padding-bottom: 0.9375rem;
      grid-area: tres; }
      .cursos_card_niveles_tres_title {
        margin-top: 0.9375rem;
        font-size: 1.875rem;
        text-align: center;
        background-color: rgba(255, 43, 68, 0.534); }
      .cursos_card_niveles_tres_paragraph {
        font-size: 0.9375rem;
        margin: 0.9375rem; }
    .cursos_card_niveles_cinco {
      background-color: rgba(255, 255, 255, 0.397);
      margin-top: 1.5625rem;
      width: 90%;
      border-radius: 0.9375rem;
      padding-bottom: 0.9375rem;
      grid-area: cinco; }
      .cursos_card_niveles_cinco_title {
        margin-top: 0.9375rem;
        font-size: 1.875rem;
        text-align: center;
        background-color: rgba(255, 43, 68, 0.534); }
      .cursos_card_niveles_cinco_paragraph {
        font-size: 0.9375rem;
        margin: 0.9375rem; }
    .cursos_card_niveles_ocho {
      background-color: rgba(255, 255, 255, 0.397);
      margin-top: 1.5625rem;
      margin-bottom: 1.5625rem;
      width: 90%;
      border-radius: 0.9375rem;
      padding-bottom: 0.9375rem;
      grid-area: ocho; }
      .cursos_card_niveles_ocho_title {
        margin-top: 0.9375rem;
        font-size: 1.875rem;
        text-align: center;
        background-color: rgba(255, 43, 68, 0.534); }
      .cursos_card_niveles_ocho_paragraph {
        font-size: 0.9375rem;
        margin: 0.9375rem; }
