.Saltos {
    &_main_principal {
        &_parallax {
            background-image: url("../Imagenes/saltosparallax.jpg");
            @include parallax;
            @include flex(flex-end, none, space-around, none);
            flex-direction: column;
            height: 100vh;

            @media (min-width:992px) {
                background-image: linear-gradient(#00000000, rgba(0, 0, 0, 0.274)), url("../Imagenes/saltosparallax.jpg");
                background-attachment: fixed;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
            }


            &_title {
                color: map-get($map: $palette, $key: "light" );
                font-size: 3em;
                font-weight: bold;
                padding-left: 15px;
                position: relative;
                margin-top: 70px;

                @media (min-width:992px) {
                    color: map-get($map: $palette, $key: "dark" );
                    font-size: 7em;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
            }

            &_subtitle {
                font-size: 3em;
                width: 100%;
                margin-top: 0%;
                margin-bottom: 0%;
                padding-left: 15px;

                @media (min-width:992px) {
                    color: map-get($map: $palette, $key: "dark" );
                    font-size: 4em;
                    grid-row-start: 3;
                    grid-row-end: 4;
                    grid-column-start: 1;
                    grid-column-end: 4;
                }
            }
        }

        &_wrapper {
            @include flex(center, center, space-around, center);
            flex-direction: column;
            background-image: url("../Imagenes/promocionesfondo.png");
            @include parallax;
            padding-bottom: toRem(20);


            @media (min-width:992px) {
                background-image: url("../Imagenes/fondo.png");
                @include parallax;
                display: grid;
                align-items: space-around;
                justify-content: center;
                justify-items: center;
                align-content: center;
            }


            &_cont {
                @include flex(center, none, none, center);
                flex-direction: column;
                width: 100%;



                &_paragraph {
                    color: map-get($map: $palette, $key: "light" );
                    font-size: toRem(28);
                    font-weight: 500;
                    text-align: center;
                    padding-top: toRem(20);

                    @media (min-width:992px) {
                        color: map-get($map: $palette, $key: "dark" );
                        font-size: toRem(70);
                        font-weight: bold;
                        padding-top: toRem(30);
                        padding-left: toRem(25)
                    }
                }

                &_paragraph_dos {
                    color: map-get($map: $palette, $key: "light" );
                    font-size: toRem(25);
                    font-weight: 500;
                    text-align: center;
                    padding-top: toRem(10);

                    @media (min-width:992px) {
                        color: map-get($map: $palette, $key: "dark" );
                        font-size: toRem(30);
                        font-weight: 300;
                        padding-top: toRem(20);
                    }
                }

            }

            &_imagenes {
                display: none;

                @media (min-width:992px) {
                    display: block;
                }


                &_dos {
                    display: none;

                    @media (min-width:992px) {
                        display: block;
                        overflow: hidden;
                        padding-left: toRem(300);

                    }

                    &_mobile {
                        display: block;

                        @media (min-width:992px) {
                            display: none;

                        }
                    }
                }
            }


            &_descripcion {
                background-color: #0000004a;
                border-radius: toRem(5);
                margin: toRem(5);
                padding-bottom: toRem(15);

                @media (min-width:992px) {
                    background-color: map-get($map: $palette, $key: "light_gradient");
                    border-radius: toRem(80);
                    grid-area: "texto";
                    font-size: toRem(20);
                    font-weight: 500;
                    width: 70%;
                    padding-top: toRem(70);
                    padding-left: toRem(50);
                    padding-right: toRem(50);
                }

                p {
                    color:map-get($map: $palette, $key: "light" );
                    margin-left: toRem(10);
                    margin-top: toRem(10);

                    @media (min-width:992px) {
                        color:map-get($map: $palette, $key:"dark" );
                        margin-top: toRem(5)
                    }
                }
            }

            &_cta {
                @extend %cta;
                padding: toRem(5);
               

                @media (min-width:992px) {
                    grid-column-start: 2;
                    grid-column-end: 3;
                    padding: toRem(10);
                    
                }
            }
        }

        &_videos {
            padding-top: toRem(30);
                padding-bottom: toRem(30);
            @include flex(space-evenly, center, none, center);
            flex-direction: column;

            @media (min-width:992px) {
                @include flex(space-evenly, center, center, center);
                flex-direction: row;
            }

            iframe{
                padding-top: toRem(10);
            }
        }

            &_recomendaciones {
                @include flex(center, center, center, center);
                flex-direction: column;
                background-image: url("../Imagenes/fondo_recomendaciones.gif");
                @include parallax;

                @media (min-width:992px) {
                    padding-top: toRem(25);
                    padding-bottom: toRem(35);
                    display: grid;
                    grid-template-areas:
                        "title title title"
                        "fisicas imagen indumentaria";

                }


                &_title {
                    font-size: toRem(50);
                    text-align: center;

                    @media (min-width:992px) {
                        grid-area: title;
                        font-size: toRem(50);
                        font-weight: bold;
                        text-align: center;
                        padding-bottom: toRem(20);
                    }
                }

                &_fisicas {
                    background-color: map-get($map: $palette, $key: "light_gradient" );
                    padding: toRem(20);
                   

                    @media (min-width:992px) {
                        grid-area: fisicas;
                        background-color: map-get($map: $palette, $key: "light_gradient" );
                        border-radius: toRem(25);
                        margin-left: toRem(40);
                        padding-bottom: toRem(20);
                    }

                    &_title {
                        @media (min-width:992) {
                            padding-left: toRem(30);
                            padding-top: toRem(20);
                        }
                    }

                    p {
                        @media (min-width:992) {
                            padding-left: toRem(30);
                        }
                    }
                }

                &_indumentaria {
                    background-color: map-get($map: $palette, $key: "light_gradient" );
                    padding: toRem(20);
                    @media (min-width:992px) {
                        grid-area: indumentaria;
                        border-radius: toRem(25);
                        margin-right: toRem(40);
                        padding-bottom: toRem(20);
                    }

                    &_title {
                        @media (min-width:992px) {
                            padding-left: toRem(30);
                            padding-top: toRem(20);
                        }
                    }

                    p {
                        @media (min-width:992px) {
                            padding-left: toRem(30);
                        }
                    }
                }

                &_img_rec {
                    @media (min-width:992px) {
                        grid-area: imagen;
                    }
                
                }
            }
        }
    }

            
        
    