ul { 
    li {
       list-style-type: none;
   }
}

a{
   text-decoration: none;
}

.main_header {
    @include flex (center, none, none, center);
    width: 100vw;
    background-color: rgb(240, 248, 255);
    display: flex;
    width: 100vw;
    

    &_nav {
        @include flex (center, none, none, none);
        justify-content: center;
        padding: 15px;

        li {
            padding-left: 20px;

            a {
                color: black;
                font-size: 1em;
                font-weight: 500;


                & :active {
                    color: rgba(128, 128, 128, 0.851);
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .main_header {
        display: grid;
        width: 100vw;
        height: 74px;
        position: fixed;
        grid-template-columns: 200px auto;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(240, 248, 255);
        z-index:3;
        

        &_nav {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-content: end;
            gap: 0 20px;
            text-align: center;

            a {
                color: black;

                &:hover {
                    background-color: black;
                    border-radius: 15px;
                    color: white;
                    padding: 5px 5px;
                }

                &:active{
                    color: red;
                }
            }
        }

    }
}

