@use "variables.scss";

%cta {
    padding: toRem(5);
    border-radius: toRem(45);

    @media (min-width:767px) {
        padding: toRem(10);
        background-color: $background_button;
        border: toRem(45);
        transition:0.5s ease-in-out;
        &:hover {
            background-color: white;
        }
    }

    a {
        padding: toRem(5);
        border-radius: toRem(30);
        color: white;
        background-color: $background_button;

        @media (min-width:767px) {
            font-size: toRem(18);
            background-color:$nocolor;
            font-weight: 500;
            color: white;

            &:hover {
                color:$background_button;
            }
        }
    }
}